## Importing pyspark and pandas

In [44]:
import pyspark
import pandas as pd

### Importing SparkSession

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [6]:
#df_pyspark_madrid=spark.read.csv('madrid_houses_clean.csv')

### Reading the CSV

In [7]:
df_pyspark_madrid=spark.read.option('header','true').csv('madrid_casas_con_fechas.csv')

#### Dropping column called 'Unnamed: 0'

In [8]:
df_pyspark_madrid = df_pyspark_madrid.drop('Unnamed: 0')

In [9]:
#counting the number of rows

df_pyspark_madrid.count()

21739

### Checking dtypes of the columns

In [10]:
# Checking dtypes of this dataframe
df_pyspark_madrid.dtypes

[('_c0', 'string'),
 ('id', 'string'),
 ('sq_mt_built', 'string'),
 ('n_rooms', 'string'),
 ('n_bathrooms', 'string'),
 ('n_floors', 'string'),
 ('sq_mt_allotment', 'string'),
 ('floor', 'string'),
 ('buy_price', 'string'),
 ('is_renewal_needed', 'string'),
 ('has_lift', 'string'),
 ('is_exterior', 'string'),
 ('energy_certificate', 'string'),
 ('has_parking', 'string'),
 ('neighborhood', 'string'),
 ('district', 'string'),
 ('house_type', 'string'),
 ('fecha_venta', 'string')]

### Checking stats of the dataframe

In [11]:
#Analyzing the statistics of the dataframe
df_pyspark_madrid.describe().show()

+-------+----------------+------------------+------------------+------------------+------------------+------------------+-----------------+-----------------+-----------------+-----------------+--------+-----------+------------------+-----------+-----------------+------------------+------------------+-------------------+
|summary|             _c0|                id|       sq_mt_built|           n_rooms|       n_bathrooms|          n_floors|  sq_mt_allotment|            floor|        buy_price|is_renewal_needed|has_lift|is_exterior|energy_certificate|has_parking|     neighborhood|          district|        house_type|        fecha_venta|
+-------+----------------+------------------+------------------+------------------+------------------+------------------+-----------------+-----------------+-----------------+-----------------+--------+-----------+------------------+-----------+-----------------+------------------+------------------+-------------------+
|  count|           21739|             21739|             21739|             21739|             21739|             21739|            21739|            21739|            21739|            21739|   21739|      21739|             21739|      21739|            21739|             21739|             21739|              21739|
|   mean|         10869.0|10871.122314733888|153.81494973142776| 3.006026036156217|2.0912645475872855|1.2337274023644142|57.81195087170523|1.833248999493997|653572.8620451723|             null|    null|       null|1.1392888357330144|       null|62.80233681402088| 9.747412484474907|1.4077464464786789|               null|
| stddev|6275.65308686408| 6276.868147968098|164.71881544685826|1.5103563514198048|1.4071850628679423|0.7095237890327228|397.7205291934809|3.039868548524231|781966.1368587181|             null|    null|       null|1.9023961023973899|       null|38.34338752247135|5.5878881165849315|1.0164652278401294|               null|
|    min|               0|                 1|             100.0|                 0|                 1|                 1|              0.0|               -1|           100000|            False|   False|      False|                 0|      False|                1|                 1|                 1|1990-01-20 20:55:12|
|    max|            9999|              9999| 999.8545454545456|                 9|                 9|                 7|            997.0|                9|           999999|             True|    True|       True|                 7|       True|               99|                 9|                 5|2021-10-22 17:40:51|
+-------+----------------+------------------+------------------+------------------+------------------+------------------+-----------------+-----------------+-----------------+-----------------+--------+-----------+------------------+-----------+-----------------+------------------+------------------+-------------------+

### Checking null values

In [12]:
# Checking null values 
df_pyspark_madrid.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- id: string (nullable = true)
 |-- sq_mt_built: string (nullable = true)
 |-- n_rooms: string (nullable = true)
 |-- n_bathrooms: string (nullable = true)
 |-- n_floors: string (nullable = true)
 |-- sq_mt_allotment: string (nullable = true)
 |-- floor: string (nullable = true)
 |-- buy_price: string (nullable = true)
 |-- is_renewal_needed: string (nullable = true)
 |-- has_lift: string (nullable = true)
 |-- is_exterior: string (nullable = true)
 |-- energy_certificate: string (nullable = true)
 |-- has_parking: string (nullable = true)
 |-- neighborhood: string (nullable = true)
 |-- district: string (nullable = true)
 |-- house_type: string (nullable = true)
 |-- fecha_venta: string (nullable = true)

### Checking for Distinct Values in 'floor' column

In [13]:
df_pyspark_madrid.select('floor').distinct().collect()

[Row(floor='7'),
 Row(floor='-1'),
 Row(floor='3'),
 Row(floor='8'),
 Row(floor='0'),
 Row(floor='5'),
 Row(floor='6'),
 Row(floor='9'),
 Row(floor='1'),
 Row(floor='10'),
 Row(floor='-3'),
 Row(floor='4'),
 Row(floor='-2'),
 Row(floor='-5'),
 Row(floor='2')]

### Checking for number of rows in floor values -5, -3, -2, -1

In [14]:
#checking out houses that has floor of -5

df_pyspark_madrid.select('floor').where(df_pyspark_madrid.floor == -5).count()

#there are 1938 number of rows with a floor value of -5. Equates to 8% of total dataframe. In this case our suggestion is to delete them.

1938

In [15]:
#checking out houses that has floor of -3

df_pyspark_madrid.select('floor').where(df_pyspark_madrid.floor == -3).count()

32

In [16]:
#checking out houses that has floor of -2

df_pyspark_madrid.select('floor').where(df_pyspark_madrid.floor == -2).count()

92

In [17]:
#checking out houses that has floor of -1

df_pyspark_madrid.select('floor').where(df_pyspark_madrid.floor == -1).count()

2175

In [19]:
#df_pyspark_madrid.filter(df_pyspark_madrid['floor'] == -2).show()

In [20]:
#df_pyspark_madrid_without_negative3=df_pyspark_madrid.where("floor!=-3")

#df_pyspark_madrid_without_negative3.show()

In [21]:
# verifying that -3 is deleted

#df_pyspark_madrid_without_negative3.select('floor').where(df_pyspark_madrid_without_negative3.floor == -3).count()

In [22]:
#df_pyspark_madrid_without_negative3_and_negative2 = df_pyspark_madrid_without_negative3.where("floor!=-2")

In [23]:
#df_pyspark_madrid_without_negative3_and_negative2.select('floor').where(df_pyspark_madrid_without_negative3_and_negative2.floor == -2).count()

In [24]:
#df_pyspark_madrid_without_negative3_and_negative2_and_negative5 = df_pyspark_madrid_without_negative3_and_negative2.where("floor!=-5")

In [25]:
#df_pyspark_madrid_without_negative3_and_negative2_and_negative5.select('floor').where(df_pyspark_madrid_without_negative3_and_negative2_and_negative5.floor == -5).count()

In [26]:
df_pyspark_madrid.count()

21739

In [27]:
df_pyspark_madrid.show()

+---+-----+-----------+-------+-----------+--------+---------------+-----+---------+-----------------+--------+-----------+------------------+-----------+------------+--------+----------+-------------------+
|_c0|   id|sq_mt_built|n_rooms|n_bathrooms|n_floors|sq_mt_allotment|floor|buy_price|is_renewal_needed|has_lift|is_exterior|energy_certificate|has_parking|neighborhood|district|house_type|        fecha_venta|
+---+-----+-----------+-------+-----------+--------+---------------+-----+---------+-----------------+--------+-----------+------------------+-----------+------------+--------+----------+-------------------+
|  0|21742|       64.0|      2|          1|       1|            0.0|    3|    85000|            False|   False|       True|                 4|      False|         135|      21|         1|2018-12-16 10:43:16|
|  1|21741|       70.0|      3|          1|       1|            0.0|    4|   129900|             True|    True|       True|                 0|      False|         132|      21|         1|1994-07-09 21:18:56|
|  2|21740|       94.0|      2|          2|       1|            0.0|    1|   144247|            False|    True|       True|                 0|      False|         134|      21|         1|1999-08-23 00:13:51|
|  3|21739|       64.0|      2|          1|       1|            0.0|   -1|   109900|            False|    True|       True|                 0|      False|         134|      21|         1|2012-10-20 09:20:20|
|  4|21738|      108.0|      2|          2|       1|            0.0|    4|   260000|            False|    True|       True|                 0|       True|         133|      21|         1|2011-03-19 07:39:04|
|  5|21737|      126.0|      4|          2|       1|            0.0|    3|   195000|            False|   False|       True|                 0|       True|         134|      21|         1|1991-07-19 07:19:31|
|  6|21736|      120.0|      5|          2|       1|            0.0|    1|   190000|            False|   False|       True|                 2|       True|         134|      21|         1|2020-12-06 03:30:40|
|  7|21735|      125.0|      3|          2|       1|            0.0|    2|   198500|            False|   False|       True|                 0|      False|         134|      21|         1|2012-09-01 13:34:09|
|  8|21734|       84.0|      3|          2|       1|            0.0|    2|   212000|            False|    True|       True|                 2|       True|         131|      21|         1|2019-08-24 11:53:01|
|  9|21733|       85.0|      2|          1|       1|            0.0|    7|   131400|             True|   False|       True|                 0|      False|         133|      21|         1|2011-05-17 14:41:14|
| 10|21732|       69.0|      2|          2|       1|            0.0|    2|   118000|             True|   False|       True|                 0|      False|         134|      21|         1|1999-10-11 21:02:53|
| 11|21731|      122.0|      3|          2|       1|            0.0|    6|   246900|            False|    True|       True|                 3|       True|         131|      21|         1|2000-12-22 17:15:08|
| 12|21730|      123.0|      3|          2|       1|            0.0|    4|   195000|            False|    True|       True|                 4|      False|         133|      21|         1|2003-12-01 14:13:14|
| 13|21729|      109.0|      3|          2|       1|            0.0|    3|   205000|            False|    True|       True|                 3|      False|         132|      21|         1|1996-06-22 11:18:35|
| 14|21728|       64.0|      3|          1|       1|            0.0|    3|    72000|            False|   False|       True|                 2|      False|         135|      21|         1|1997-05-14 10:01:22|
| 15|21727|      115.0|      3|          1|       1|            0.0|    3|   160000|            False|   False|       True|                 0|      False|         133|      21|         1|1990-05-25 04:20:28|
| 16|21726|      115.0|      3|          1|       1|            0.0|    1|   184900|            False|   False|       True|                 0|      False|         133|      21|         1|2021-07-19 13:57:23|
| 17|21725|       65.0|      3|          1|       1|            0.0|    4|    90000|            False|   False|       True|                 0|      False|         132|      21|         1|2008-04-06 17:08:20|
| 18|21724|       75.0|      3|          1|       1|            0.0|    3|   129900|             True|    True|       True|                 0|      False|         134|      21|         1|1996-03-29 15:47:03|
| 19|21723|       60.0|      2|          1|       1|            0.0|   -1|    94900|            False|   False|       True|                 0|      False|         135|      21|         1|1992-07-28 17:48:21|
+---+-----+-----------+-------+-----------+--------+---------------+-----+---------+-----------------+--------+-----------+------------------+-----------+------------+--------+----------+-------------------+
only showing top 20 rows

In [28]:
# renaming the dataframe

#updated_df_madrid_spark = df_pyspark_madrid_without_negative3_and_negative2_and_negative5

updated_df_madrid_spark = df_pyspark_madrid

In [29]:
updated_df_madrid_spark.show()

+---+-----+-----------+-------+-----------+--------+---------------+-----+---------+-----------------+--------+-----------+------------------+-----------+------------+--------+----------+-------------------+
|_c0|   id|sq_mt_built|n_rooms|n_bathrooms|n_floors|sq_mt_allotment|floor|buy_price|is_renewal_needed|has_lift|is_exterior|energy_certificate|has_parking|neighborhood|district|house_type|        fecha_venta|
+---+-----+-----------+-------+-----------+--------+---------------+-----+---------+-----------------+--------+-----------+------------------+-----------+------------+--------+----------+-------------------+
|  0|21742|       64.0|      2|          1|       1|            0.0|    3|    85000|            False|   False|       True|                 4|      False|         135|      21|         1|2018-12-16 10:43:16|
|  1|21741|       70.0|      3|          1|       1|            0.0|    4|   129900|             True|    True|       True|                 0|      False|         132|      21|         1|1994-07-09 21:18:56|
|  2|21740|       94.0|      2|          2|       1|            0.0|    1|   144247|            False|    True|       True|                 0|      False|         134|      21|         1|1999-08-23 00:13:51|
|  3|21739|       64.0|      2|          1|       1|            0.0|   -1|   109900|            False|    True|       True|                 0|      False|         134|      21|         1|2012-10-20 09:20:20|
|  4|21738|      108.0|      2|          2|       1|            0.0|    4|   260000|            False|    True|       True|                 0|       True|         133|      21|         1|2011-03-19 07:39:04|
|  5|21737|      126.0|      4|          2|       1|            0.0|    3|   195000|            False|   False|       True|                 0|       True|         134|      21|         1|1991-07-19 07:19:31|
|  6|21736|      120.0|      5|          2|       1|            0.0|    1|   190000|            False|   False|       True|                 2|       True|         134|      21|         1|2020-12-06 03:30:40|
|  7|21735|      125.0|      3|          2|       1|            0.0|    2|   198500|            False|   False|       True|                 0|      False|         134|      21|         1|2012-09-01 13:34:09|
|  8|21734|       84.0|      3|          2|       1|            0.0|    2|   212000|            False|    True|       True|                 2|       True|         131|      21|         1|2019-08-24 11:53:01|
|  9|21733|       85.0|      2|          1|       1|            0.0|    7|   131400|             True|   False|       True|                 0|      False|         133|      21|         1|2011-05-17 14:41:14|
| 10|21732|       69.0|      2|          2|       1|            0.0|    2|   118000|             True|   False|       True|                 0|      False|         134|      21|         1|1999-10-11 21:02:53|
| 11|21731|      122.0|      3|          2|       1|            0.0|    6|   246900|            False|    True|       True|                 3|       True|         131|      21|         1|2000-12-22 17:15:08|
| 12|21730|      123.0|      3|          2|       1|            0.0|    4|   195000|            False|    True|       True|                 4|      False|         133|      21|         1|2003-12-01 14:13:14|
| 13|21729|      109.0|      3|          2|       1|            0.0|    3|   205000|            False|    True|       True|                 3|      False|         132|      21|         1|1996-06-22 11:18:35|
| 14|21728|       64.0|      3|          1|       1|            0.0|    3|    72000|            False|   False|       True|                 2|      False|         135|      21|         1|1997-05-14 10:01:22|
| 15|21727|      115.0|      3|          1|       1|            0.0|    3|   160000|            False|   False|       True|                 0|      False|         133|      21|         1|1990-05-25 04:20:28|
| 16|21726|      115.0|      3|          1|       1|            0.0|    1|   184900|            False|   False|       True|                 0|      False|         133|      21|         1|2021-07-19 13:57:23|
| 17|21725|       65.0|      3|          1|       1|            0.0|    4|    90000|            False|   False|       True|                 0|      False|         132|      21|         1|2008-04-06 17:08:20|
| 18|21724|       75.0|      3|          1|       1|            0.0|    3|   129900|             True|    True|       True|                 0|      False|         134|      21|         1|1996-03-29 15:47:03|
| 19|21723|       60.0|      2|          1|       1|            0.0|   -1|    94900|            False|   False|       True|                 0|      False|         135|      21|         1|1992-07-28 17:48:21|
+---+-----+-----------+-------+-----------+--------+---------------+-----+---------+-----------------+--------+-----------+------------------+-----------+------------+--------+----------+-------------------+
only showing top 20 rows

In [30]:
updated_df_madrid_spark.count()

21739

#### Creating a new Dataframe where housetype is only 2, Equates to Single Family homes.

In [31]:
df_pyspark_madrid_only_house_type2 = updated_df_madrid_spark.where("house_type==2")

In [32]:
df_pyspark_madrid_only_house_type2.show()

+---+-----+-----------+-------+-----------+--------+---------------+-----+---------+-----------------+--------+-----------+------------------+-----------+------------+--------+----------+-------------------+
|_c0|   id|sq_mt_built|n_rooms|n_bathrooms|n_floors|sq_mt_allotment|floor|buy_price|is_renewal_needed|has_lift|is_exterior|energy_certificate|has_parking|neighborhood|district|house_type|        fecha_venta|
+---+-----+-----------+-------+-----------+--------+---------------+-----+---------+-----------------+--------+-----------+------------------+-----------+------------+--------+----------+-------------------+
| 85|21657|      150.0|      2|          1|       2|            0.0|   -5|   159000|             True|   False|       True|                 2|       True|         134|      21|         2|1997-01-17 20:38:31|
|378|21364|      240.0|      4|          3|       3|            0.0|   -5|   580000|            False|   False|       True|                 0|       True|         134|      21|         2|2008-12-09 15:35:42|
|402|21340|      242.0|      4|          3|       4|           22.0|   -5|   380000|            False|   False|       True|                 0|       True|         134|      21|         2|2002-04-09 03:58:32|
|403|21339|      166.0|      3|          1|       3|          166.0|   -5|   300000|             True|   False|       True|                 0|      False|         133|      21|         2|2017-10-24 14:21:55|
|531|21211|      274.0|      8|          3|       3|          157.0|   -5|   495000|            False|   False|       True|                 0|      False|         133|      21|         2|2017-10-06 17:52:19|
|783|20959|       70.0|      3|          1|       3|            0.0|   -5|   250000|            False|   False|       True|                 1|      False|         124|      19|         2|2006-03-17 20:33:41|
|793|20949|      166.0|      4|          3|       3|            0.0|   -5|   442000|            False|   False|       True|                 0|      False|         126|      19|         2|2005-01-11 13:36:07|
|794|20948|      167.0|      4|          3|       3|            0.0|   -5|   446000|            False|   False|       True|                 0|      False|         126|      19|         2|2020-04-26 11:39:28|
|795|20947|      173.0|      4|          3|       3|            0.0|   -5|   440000|            False|   False|       True|                 0|      False|         126|      19|         2|2013-01-04 05:39:35|
|803|20939|      285.0|      4|          3|       4|            0.0|   -5|   339841|            False|   False|       True|                 0|      False|         126|      19|         2|2006-03-07 09:31:12|
|804|20938|      268.0|      4|          3|       4|            0.0|   -5|   338066|            False|   False|       True|                 0|      False|         126|      19|         2|2008-06-29 10:50:39|
|805|20937|      268.0|      4|          3|       4|            0.0|   -5|   337631|            False|   False|       True|                 0|      False|         126|      19|         2|1990-02-22 21:02:47|
|819|20923|      137.0|      2|          1|       2|            0.0|   -5|   296500|            False|   False|       True|                 3|      False|         125|      19|         2|2021-02-26 23:20:00|
|826|20916|      275.0|      5|          2|       2|            0.0|   -5|   385000|             True|   False|       True|                 0|      False|         125|      19|         2|1990-12-17 11:30:56|
|877|20865|      149.0|      4|          3|       3|            0.0|   -5|   334000|            False|   False|       True|                 0|      False|         126|      19|         2|1996-04-23 13:56:28|
|878|20864|      149.0|      4|          3|       3|            0.0|   -5|   343000|            False|   False|       True|                 0|      False|         126|      19|         2|2017-03-30 22:01:34|
|880|20862|      248.0|      4|          3|       3|            0.0|   -5|   348000|            False|   False|       True|                 0|       True|         126|      19|         2|2008-11-17 17:01:14|
|881|20861|      205.0|      3|          3|       3|            0.0|   -5|   350000|            False|   False|       True|                 0|       True|         126|      19|         2|2007-04-06 16:39:39|
|896|20846|      149.0|      3|          3|       2|          154.0|   -5|   336403|            False|   False|       True|                 6|       True|         126|      19|         2|1995-06-08 12:10:49|
|897|20845|      149.0|      3|          3|       2|          164.0|   -5|   333279|            False|   False|       True|                 6|       True|         126|      19|         2|2015-09-27 18:53:48|
+---+-----+-----------+-------+-----------+--------+---------------+-----+---------+-----------------+--------+-----------+------------------+-----------+------------+--------+----------+-------------------+
only showing top 20 rows

In [33]:
df_pyspark_madrid_only_house_type2.count()

1938

### From Spark to Pandas

In [34]:
df_pyspark_madrid_only_house_type2_pandas = df_pyspark_madrid_only_house_type2.toPandas()

In [46]:
df_pyspark_madrid_only_house_type2_pandas.head()

,_c0,id,sq_mt_built,n_rooms,n_bathrooms,n_floors,sq_mt_allotment,floor,buy_price,is_renewal_needed,has_lift,is_exterior,energy_certificate,has_parking,neighborhood,district,house_type,fecha_venta
0,85,21657,150.0,2,1,2,0.0,-5,159000,True,False,True,2,True,134,21,2,1997-01-17 20:38:31
1,378,21364,240.0,4,3,3,0.0,-5,580000,False,False,True,0,True,134,21,2,2008-12-09 15:35:42
2,402,21340,242.0,4,3,4,22.0,-5,380000,False,False,True,0,True,134,21,2,2002-04-09 03:58:32
3,403,21339,166.0,3,1,3,166.0,-5,300000,True,False,True,0,False,133,21,2,2017-10-24 14:21:55
4,531,21211,274.0,8,3,3,157.0,-5,495000,False,False,True,0,False,133,21,2,2017-10-06 17:52:19

### To CSV

In [36]:
df_pyspark_madrid_only_house_type2_pandas.to_csv('Madrid_houses_updated_clean_new_house_type_only2.csv')

### All other Data besides housetype = 2

In [37]:
updated_df_madrid_pandas = updated_df_madrid_spark.toPandas()

In [47]:
updated_df_madrid_pandas.head()

,_c0,id,sq_mt_built,n_rooms,n_bathrooms,n_floors,sq_mt_allotment,floor,buy_price,is_renewal_needed,has_lift,is_exterior,energy_certificate,has_parking,neighborhood,district,house_type,fecha_venta
0,0,21742,64.0,2,1,1,0.0,3,85000,False,False,True,4,False,135,21,1,2018-12-16 10:43:16
1,1,21741,70.0,3,1,1,0.0,4,129900,True,True,True,0,False,132,21,1,1994-07-09 21:18:56
2,2,21740,94.0,2,2,1,0.0,1,144247,False,True,True,0,False,134,21,1,1999-08-23 00:13:51
3,3,21739,64.0,2,1,1,0.0,-1,109900,False,True,True,0,False,134,21,1,2012-10-20 09:20:20
4,4,21738,108.0,2,2,1,0.0,4,260000,False,True,True,0,True,133,21,1,2011-03-19 07:39:04

In [39]:
updated_df_madrid_pandas.to_csv('Madrid_houses_updated_clean_new.csv')

In [41]:
houses = updated_df_madrid_pandas.groupby('house_type').count()

In [43]:
updated_df_madrid_pandas[updated_df_madrid_pandas['house_type'] == '2']

,_c0,id,sq_mt_built,n_rooms,n_bathrooms,n_floors,sq_mt_allotment,floor,buy_price,is_renewal_needed,has_lift,is_exterior,energy_certificate,has_parking,neighborhood,district,house_type,fecha_venta
85,85,21657,150.0,2,1,2,0.0,-5,159000,True,False,True,2,True,134,21,2,1997-01-17 20:38:31
378,378,21364,240.0,4,3,3,0.0,-5,580000,False,False,True,0,True,134,21,2,2008-12-09 15:35:42
402,402,21340,242.0,4,3,4,22.0,-5,380000,False,False,True,0,True,134,21,2,2002-04-09 03:58:32
403,403,21339,166.0,3,1,3,166.0,-5,300000,True,False,True,0,False,133,21,2,2017-10-24 14:21:55
531,531,21211,274.0,8,3,3,157.0,-5,495000,False,False,True,0,False,133,21,2,2017-10-06 17:52:19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21718,21718,21,362.0,6,3,3,0.0,-5,715000,False,False,True,3,False,11,2,2,2017-11-15 16:13:19
21727,21727,12,289.0,5,3,3,0.0,-5,820000,False,False,True,0,True,8,2,2,2018-11-03 07:43:48
21728,21728,11,276.0,4,4,4,189.0,-5,690000,False,False,True,1,True,11,2,2,1998-03-03 19:40:20
21730,21730,9,267.0,5,3,2,382.0,-5,790000,False,False,True,0,True,9,2,2,2013-07-07 09:36:15
21737,21737,2,289.0,4,3,3,304.0,-5,695000,False,False,True,0,True,9,2,2,1994-07-14 10:10:50