In [12]:
import pandas as pd
import numpy as np
import pickle
import warnings
warnings.filterwarnings('ignore')
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
# from xgboost import XGBRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.metrics import accuracy_score,confusion_matrix,roc_auc_score,ConfusionMatrixDisplay,precision_score,recall_score,f1_score,classification_report,roc_curve,plot_roc_curve,auc,precision_recall_curve,plot_precision_recall_curve,average_precision_score
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor
import os

In [53]:
pd.set_option("display.max_columns", None)

In [64]:
df_chalets = pd.read_csv('chalets_nuevo.csv', index_col = 0)
df_chalets

,sq_mt_built,n_rooms,n_bathrooms,n_floors,sq_mt_allotment,floor,buy_price,is_renewal_needed,has_lift,is_exterior,energy_certificate,has_parking,neighborhood,district,house_type,fecha_venta,mean_price_district,std_deviation_price_district
0,150.0,2,1,2,0.0,-5,159000,1,0,1,2,1,134,21,2,1997-01-17 20:38:31,386000.0,146633.329545
1,240.0,4,3,3,0.0,-5,580000,0,0,1,0,1,134,21,2,2008-12-09 15:35:42,386000.0,146633.329545
2,242.0,4,3,4,22.0,-5,380000,0,0,1,0,1,134,21,2,2002-04-09 03:58:32,386000.0,146633.329545
3,166.0,3,1,3,166.0,-5,300000,1,0,1,0,0,133,21,2,2017-10-24 14:21:55,386000.0,146633.329545
4,274.0,8,3,3,157.0,-5,495000,0,0,1,0,0,133,21,2,2017-10-06 17:52:19,386000.0,146633.329545
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1933,362.0,6,3,3,0.0,-5,715000,0,0,1,3,0,11,2,2,2017-11-15 16:13:19,711000.0,203084.547254
1934,289.0,5,3,3,0.0,-5,820000,0,0,1,0,1,8,2,2,2018-11-03 07:43:48,711000.0,203084.547254
1935,276.0,4,4,4,189.0,-5,690000,0,0,1,1,1,11,2,2,1998-03-03 19:40:20,711000.0,203084.547254
1936,267.0,5,3,2,382.0,-5,790000,0,0,1,0,1,9,2,2,2013-07-07 09:36:15,711000.0,203084.547254
1937,289.0,4,3,3,304.0,-5,695000,0,0,1,0,1,9,2,2,1994-07-14 10:10:50,711000.0,203084.547254

In [55]:
df_chalets.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1938 entries, 0 to 1937
Data columns (total 18 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   sq_mt_built                   1938 non-null   float64
 1   n_rooms                       1938 non-null   int64
 2   n_bathrooms                   1938 non-null   int64
 3   n_floors                      1938 non-null   int64
 4   sq_mt_allotment               1938 non-null   float64
 5   floor                         1938 non-null   int64
 6   buy_price                     1938 non-null   int64
 7   is_renewal_needed             1938 non-null   int64
 8   has_lift                      1938 non-null   int64
 9   is_exterior                   1938 non-null   int64
 10  energy_certificate            1938 non-null   int64
 11  has_parking                   1938 non-null   int64
 12  neighborhood                  1938 non-null   int64
 13  district                      1938 non-null   int64
 14  house_type                    1938 non-null   int64
 15  fecha_venta                   1938 non-null   object
 16  mean_price_district           1938 non-null   float64
 17  std_deviation_price_district  1938 non-null   float64
dtypes: float64(4), int64(13), object(1)
memory usage: 287.7+ KB

In [56]:
X  = df_chalets[['sq_mt_built','n_rooms','n_bathrooms','is_renewal_needed','has_parking']]
y = df_chalets['buy_price']
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.2, random_state=42)

In [57]:
models = []
# models.append(['XGBRegressor',XGBRegressor(random_state=0)])
models.append(['SVR',SVR()])
models.append(['KNeigborsRegressor',KNeighborsRegressor()])
models.append(['DecisionTreeRegressor',DecisionTreeRegressor(random_state=0)])
models.append(['RandomForestRegressor',RandomForestRegressor(random_state=0)])
models.append(['AdaBoostRegressor',AdaBoostRegressor()])
models.append(['GradientBoostinRegressor',GradientBoostingRegressor(random_state=0)])

In [58]:
from sklearn.metrics import mean_squared_error, mean_absolute_error
lst_1 = []

for m in range(len(models)):
    lst_2 = []
    model = models[m][1]
    model.fit(X_train,y_train)
    y_pred = model.predict(X_test)

# metrics
    mae = mean_absolute_error(y_test, y_pred)
    rmse = np.sqrt(mean_squared_error(y_test,y_pred))

    print(models[m][0],':')
    # print(cm)
    print('MAE: ', mae)
    print('RMSE: ', rmse)
    print('--------------------------------')
    lst_2.append(models[m][0])
    lst_2.append(mae)
    lst_2.append(rmse)
    lst_1.append(lst_2)

XGBRegressor :
MAE:  603376.2611823018
RMSE:  961666.0641309785
--------------------------------
SVR :
MAE:  914705.0541943155
RMSE:  1308547.0781385724
--------------------------------
KNeigborsRegressor :
MAE:  616548.1816892327
RMSE:  912310.0508376816
--------------------------------
DecisionTreeRegressor :
MAE:  722764.3193638512
RMSE:  1273385.3569246267
--------------------------------
RandomForestRegressor :
MAE:  583106.2559909122
RMSE:  883226.1787875287
--------------------------------
AdaBoostRegressor :
MAE:  697466.4112591416
RMSE:  945088.3795848768
--------------------------------
GradientBoostinRegressor :
MAE:  563552.1214017672
RMSE:  856450.3989188174
--------------------------------

In [59]:
df2 = pd.DataFrame(lst_1,columns=['Model','MAE','RMSE'])
df2.sort_values(by='RMSE',inplace=True,ascending=True)
df2

                      Model            MAE          RMSE
6  GradientBoostinRegressor  563552.121402  8.564504e+05
4     RandomForestRegressor  583106.255991  8.832262e+05
2        KNeigborsRegressor  616548.181689  9.123101e+05
5         AdaBoostRegressor  697466.411259  9.450884e+05
0              XGBRegressor  603376.261182  9.616661e+05
3     DecisionTreeRegressor  722764.319364  1.273385e+06
1                       SVR  914705.054194  1.308547e+06

In [60]:
parameters = {
            "n_estimators": [10, 100, 200, 500, 1000], 
            "max_depth": [5,10,15,20],
            "max_features": [1,2, 3, 4, 7,9,12,14, 20, 25, 29] 
            }

model = RandomForestRegressor()

gs = GridSearchCV(estimator = model,
                  param_grid = parameters,
                  cv=10, 
                  scoring='neg_mean_absolute_error', 
                  verbose=1, 
                  n_jobs=-1)

gs.fit(X_train, y_train)

Fitting 10 folds for each of 220 candidates, totalling 2200 fits

GridSearchCV(cv=10, estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'max_depth': [5, 10, 15, 20],
                         'max_features': [1, 2, 3, 4, 7, 9, 12, 14, 20, 25, 29],
                         'n_estimators': [10, 100, 200, 500, 1000]},
             scoring='neg_mean_absolute_error', verbose=1)

In [61]:
print("best estimator: ",gs.best_estimator_)
print("best params: ",gs.best_params_)
print("best score: ",gs.best_score_)

best estimator:  RandomForestRegressor(max_depth=15, max_features=1, n_estimators=10)
best params:  {'max_depth': 15, 'max_features': 1, 'n_estimators': 10}
best score:  -584965.618235741

In [62]:
# Error de test del modelo final
# ==============================================================================
modelo_final = gs.best_estimator_  ## aquí tengo almacenado el modelo con los mejores parametros definidos
predicciones = gs.predict(X_test)

print('MAE:', round(mean_absolute_error(y_test, predicciones),4))
print('MSE:', round(mean_squared_error(y_test, predicciones),4))
print('RMSE:', round(np.sqrt(mean_squared_error(y_test, predicciones)),4))

MAE: 599164.4773
MSE: 872119417701.2124
RMSE: 933873.3414

In [ ]:
X  = df_chalets[['sq_mt_built','n_rooms','n_bathrooms','is_renewal_needed','has_parking']]
y = df_chalets['buy_price']

In [ ]:
modelo = RandomForestRegressor(max_depth=15, max_features=1, n_estimators=10)
modelo.fit(X,y)

In [63]:
## guardo el modelo en esta misma ruta de donde tengo el notebook
filename = 'chalets_Rand_For.model'   ### es un archivo tipo pickel que me está guardando mi modelo (se crea cuando ejecuto esta celda)

with open(filename, 'wb') as archivo_salida:
    pickle.dump(modelo, archivo_salida)

In [ ]:
## hago una prueba de cargar ese modelo guardado

with open('chalets_Rand_For.model', "rb") as archivo_entrada:
    importado = pickle.load(archivo_entrada)

In [ ]:
X=[[80, 2,1,1,1]]

In [ ]:
pred = importado.predict(X)
pred

In [ ]:
print(pred)